/* 
    Document   : newCascadeStyleSheet
    Created on : May 28, 2013, 4:52:19 PM
    Author     : test
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

